<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách chuyến bay</title>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

</head>
<body>
<div class="container">
    <h1 class="subject">DANH SÁCH CHUYẾN BAY</h1>

    <hr>
    <form>
        <input type="text" name="from" placeholder="Diem bat dau..."/>
        <input type="text" name="to" placeholder="Diem den..."/>
        <input type="submit" value="Tim kiem"/>
    </form>
    <hr>
    <table border="1" class="flight">
        <tr>
            <th></th>
            <th>Ma chuyen bay</th>
            <th>Noi di</th>
            <th>Noi den</th>
            <th>Gia ve</th>
            <th>Ghe hang 1</th>
            <th>Ghe hang 2</th>
            <th>Hang bay</th>
            <th>Loai chuyen bay</th>
        </tr>
        {% for f in flights %}
        <tr>
            <td>
                <a href="{{ url_for('flight_detail', flight_id=f.id) }}">
                    <img src="{{ url_for('static', filename=f.airline_logo) }}" width="120px">
                </a>
            </td>
            <td>{{ f.id }}</td>
            <td>{{ f.from }}</td>
            <td>{{ f.to }}</td>
            <td>{{ "{:,.1f}".format(f.price) }} VND</td>
            <td>{{ f.seat_class_1 }}</td>
            <td>{{ f.seat_class_2 }}</td>
            <td>{{ f.airline }}</td>
            <td>{{ f.flight_type }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>