<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
     <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
<div>
    <a href="/">
        <img src="{{ url_for('static', filename='images/logo.png') }}" style="width: 100px;height: 100px;">
    </a>

<ul>
    <li>
        <a href="{{ url_for('flight_list') }}">Tất cả chuyến bay</a>
    </li>
    {% for c in catgories %}
    <li>
        <a href="{{ url_for('flight_list', flight_type=c.id) }}">{{ c.name }}</a>
    </li>
    {% endfor %}
</ul>
    </div>
</body>
</html>
